
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">
    
<style type="text/css">
  body {background-color: #F1F8FA !important;}
</style>


    <title>Bookish | Home</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
      <a class="navbar-brand ml-3" href="/">Bookish</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 mr-auto ml-lg-5" method="GET" action="/search?query_string=">
          <input name="query_string" class="form-control mr-sm-2 border-0" type="search" placeholder="Enter Book Title..." value="" aria-label="Search" autocomplete="off">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-3">
          
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          
        </ul>
      </div>
    </nav>
    <!-- End Navbar -->

    
<div>
  
  
    
  

<!--   <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#reading_now">Reading Now</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#have_read">Have Read</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#to_read">To Read</a>
    </li>
  </ul> -->
  <div class="index-nav text-right p-4">
    <div class="btn-group rounded overflow-hidden">
      <a href="#reading_now" data-toggle="tab" class="btn btn-tab btn-outline-primary active">Reading Now</a>
      <a href="#have_read" data-toggle="tab" class="btn btn-tab btn-outline-primary">Have Read</a>
      <a href="#to_read" data-toggle="tab" class="btn btn-tab btn-outline-primary">To Read</a>
    </div>
  </div>

  <div id="myTabContent" class="tab-content">  
    <div id="reading_now" class="tab-pane fade active show col-10 col-md-8 col-lg-6 mx-auto px-0 py-5 text-center" style="min-height: 100vh;">
      <h4>Reading Now</h4>
      <hr>

      
      <p class="text-muted">
          Nothing to see here.
      </p>
      
    </div>

    <div id="have_read" class="tab-pane fade col-10 col-md-8 col-lg-6 mx-auto px-0 py-5 text-center" style="min-height: 100vh;">
      <h4>Have Read</h4>
      <hr>

      
      <div class="row m-0 my-5 p-0">

        
        <div class="booktile col-6 col-sm-4 col-xl-3">
          <img src="http://books.google.com/books/content?id=SGAZdjNfruYC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;imgtk=AFLRE70rUGCt48zfqePLKk2ZW72L7sT7me-U5t64f6xI0_iUH7A57GX978d2tpgAdWkLBmsTLYZoVpj6lDk-iy7oxqVu35Jbt4qUEY71pstTgkEI8VpeAl1qjXQjZBzEIGZjdM-SIK41&amp;source=gbs_api" style="height: 265px;">
          <div class="booktile-overlay p-3">
            <p class="text-light text-left">
              Animal Farm <br>
              <span class="small">
                <em>George Orwell</em>
              </span>
            </p>
              <a href="/detail/SGAZdjNfruYC" role="button" class="btn btn-success border-0 rounded" title="More Info on this Book.">View</a>
          </div>
        </div>
        
        <div class="booktile col-6 col-sm-4 col-xl-3">
          <img src="http://books.google.com/books/content?id=vaDa9gd1IqEC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;imgtk=AFLRE71YM41jv0Qos6TM80PO_1lxPwX_59t2A1eWn2ZJmMAyWKZiD3mAawIYECIBZNw0lHD8SpEtR9D-jM8anpxEX779tnuKsRiG1jw_fcebuRePA8U_4YN0bl2x36MrpbCHJ8CvDxWb&amp;source=gbs_api" style="height: 265px;">
          <div class="booktile-overlay p-3">
            <p class="text-light text-left">
              Nineteen Eighty-Four (1984) <br>
              <span class="small">
                <em>George Orwell, Matthew Dunster</em>
              </span>
            </p>
              <a href="/detail/vaDa9gd1IqEC" role="button" class="btn btn-success border-0 rounded" title="More Info on this Book.">View</a>
          </div>
        </div>
        

      </div>
      
    </div>

    <div id="to_read" class="tab-pane fade col-10 col-md-8 col-lg-6 mx-auto px-0 py-5 text-center" style="min-height: 100vh;">
      <h4>To Read</h4>
      <hr>

      
      <p class="text-muted">
          Nothing to see here.
      </p>
      
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="exampleModalLongTitle">Rating and Review</h4>
          <form method="post" action="/add-relation">

            <input type="hidden" name="relation" value="have_read" />
            <input type="hidden" id="modalBookID" name="book_id" value="" />

            <div class="row justify-content-center my-3">
              <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" />
                <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                <input type="radio" id="star4half" name="rating" value="4.5" />
                <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3.5" />
                <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label class = "full" for="star3" title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2.5" />
                <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value="1.5" />
                <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value="0.5" />
                <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
              </fieldset>
            </div>
            <div class="form-group">
              <textarea class="form-control" rows=5 name="review" placeholder="How'd you like it?"></textarea>
            </div>
            <button type="submit" class="btn btn-success pull-right">Submit</button>
          </form>
        </div>
    </div>
  </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="../static/js/app.js"></script>
  </body>
</html>