{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row m-0 p-0">
  <div class="col-12 col-lg-7 p-0 m-0">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-dismissible alert-primary m-2 px-4 pt-3">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p class="mb-0">
            {{ messages[0] }}
          </p>
        </div>
     {% endif %}
    {% endwith %}
    <form method="post" action="{{ url_for('auth.login_post', next=next) }}" class="w-50 mx-auto login-form" autocomplete="off">
      <h3>Login</h3>
      <a href="{{ url_for('auth.signup') }}" class="text-muted">Don't already have an account? Register here.</a>
      <hr />
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input name="email" type="email" class="form-control" id="staticEmail" value="{% if email %}{{ email }}{% endif %}" placeholder="Your Email..."placeholder="Your Email...">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input name="password" type="password" class="form-control" id="inputPassword"  placeholder="Your Password...">
        </div>
      </div>
      <div class="form-group">
        <div class="custom-control custom-switch">
          <input name="remember" class="custom-control-input" type="checkbox" id="registerCheck" checked>
          <label class="custom-control-label" for="registerCheck">
            Remember Me?
          </label>
        </div>
      </div>
      <button class="btn btn-outline-primary float-right">Login</button>
    </form>
  </div>
  <div class="d-none d-lg-block col-lg-5 p-0 m-0 login-img-col">
    <img src="../static/images/books-closeup-min.jpg" class="h-100 w-100">
  </div>
</div>
{% endblock %}